{% extends 'base.html' %}

{% block content %}
<!-- <div class="h-100 p-5 text-bg-dark rounded-3"> -->
 
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Sukurti darbo grafiką</h1>
        <p class="col-lg-10 fs-4">Norint sukurti grafiką - formoje reikia pasirinkti datą kuriam mėnesiui yra daromas grafikas ir įkelti '.xlsx' (excel) failą.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="form-label mb-0">Metai</label>
            <select class="form-select select-year" name="target_year" id="select-year">
                <option id="opt-year-1"></option>
                <option id="opt-year-2"></option>
            </select>

            <label class="form-label mt-2 mb-0">Mėnuo</label>
            <select class="form-select" name="target_month" id="select-month">
                <option value="1">Sausis</option>
                <option value="2">Vasaris</option>
                <option value="3">Kovas</option>
                <option value="4">Balandis</option>
                <option value="5">Geguže</option>
                <option value="6">Birželis</option>
                <option value="7">Liepa</option>
                <option value="8">Rugpjūtis</option>
                <option value="9">Rugsėjis</option>
                <option value="10">Spalis</option>
                <option value="11">Lapkritis</option>
                <option value="12">Gruodis</option>
            </select>

            <div class="mb-3">
                <label class="form-label  mt-3 mb-0">Pasirinkti excel failą</label>
                <input class="form-control" type="file" id="formFile" name="excel">
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Daryti grafiką</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}