{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="column content-info">
        <h1 class="heading">
            Sukurti  <br> Darbo <br> Grafiką
        </h1>
    </div>

    <div class="column content-form">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <p class="select-name">Metai:</p>
            <select class="select-year" name="target_year" id="select-year">
                <option id="opt-year-1"></option>
                <option id="opt-year-2"></option>
            </select>

            <p class="select-name">Menuo:</p>
            <select name="target_month" id="select-month">
                <option value="1">Sausis</option>
                <option value="2">Vasaris</option>
                <option value="3">Kovas</option>
                <option value="4">Balandis</option>
                <option value="5">Geguže</option>
                <option value="6">Birželis</option>
                <option value="7">Liepa</option>
                <option value="8">Rugpjūtis</option>
                <option value="9">Rugsėjis</option>
                <option value="10">Spalis</option>
                <option value="11">Lapkritis</option>
                <option value="12">Gruodis</option>
            </select>
            <br>
            <input class="btn-file" type="file" name="excel" />
            <br>
            <button class="btn-upload" onclick="uploadFiles()" type="submit">Daryti grafiką</button>

        </form>
    </div>

</div>
{% endblock %}